@font-face {
  font-family: 'Corinthia';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Corinthia-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Corinthia';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Corinthia-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/OldStandardTT-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/OldStandardTT-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Old Standard TT';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/OldStandardTT-Italic.ttf') format('truetype');
} 